Repository ChocolateNao/eis-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --fix, prettier --check

feat: add dockerfile
  Dockerfile
Due: none

feat: add components
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Icon/Icon.tsx
  src/components/Icon/index.ts
  src/components/TableHeader/TableHeader.tsx
  src/components/TableHeader/index.ts
  src/components/Title/Title.tsx
  src/components/Title/index.ts
Due: eslint --max-warnings 0 --fix

feat: add meter interfaces
  src/models/meter.interface.ts
  src/models/meterType.enum.ts
  src/models/tableColWidth.enum.ts
Due: eslint --max-warnings 0 --fix

style: change fill color to currentColor
  src/assets/icons/trash.svg
Due: none

feat: add store, api services
  package-lock.json
  package.json
  src/hooks/useStore.ts
  src/main.tsx
  src/services/meters.service.ts
Due: eslint --max-warnings 0 --fix, prettier --check

feat: add address interfaces
  src/models/address.interface.ts
  src/models/meter.interface.ts
  src/models/meterType.enum.ts
Due: eslint --max-warnings 0 --fix

fix: icon variants
  src/components/Icon/Icon.tsx
Due: eslint --max-warnings 0 --fix

docs: update readme
  README.md
Due: none

fix: typos
  src/services/meters.service.ts
Due: eslint --max-warnings 0 --fix

feat: add core components
  src/App.tsx
  src/components/Button/Button.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Pagination/index.ts
  src/components/Table/Table.tsx
  src/components/Table/index.ts
  src/components/TableHeader/TableHeader.tsx
  src/components/TableItem/TableItem.tsx
  src/components/TableItem/index.ts
  src/components/Title/Title.tsx
  src/index.css
  src/models/meter.interface.ts
Due: eslint --max-warnings 0 --fix, prettier --check

feat: add store
  src/store/meterStore.ts
  src/store/store.ts
Due: eslint --max-warnings 0 --fix

docs: add text to features section
  README.md
Due: none

docs: add fallback fonts
  src/components/Title/Title.tsx
  src/index.css
Due: eslint --max-warnings 0 --fix, prettier --check

docs: add deployment
  README.md
Due: none

fix: typo in font definition
  src/index.css
Due: prettier --check

Path conditions:
  eslint --max-warnings 0 --fix: any of: *.{js,jsx,ts,tsx}
  prettier --check: any of: *.{json,html,css,scss}
